{% import 'bootstrap/wtf.html' as wtf %}
{% macro render_modal(title, form, action, button) %}
    <div class="modal fade" id="macroModalUpload" tabindex="-1" role="dialog" aria-labelledby="macroModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="macroModalLabel">{{ title }}</h4>
            </div>
            <div class="modal-body">
                <form action="{{ url_for('eventos.compress', filename=file, format=format)}}" method="POST" enctype="multipart/form-data">
                    <input type="file" name="file">
                    <select id="cars" name="format">
                      <option value=".zip">zip</option>
                      <option value=".z7">z7</option>
                      <option value=".rar">rar</option>
                      <option value=".bzip">bzip</option>
                      <option value=".tar">tar</option>
                      <option value=".gz">gz</option>
                      <option value=".tar.gz">tar.gz</option>
                      <option value=".tar.bz2">tar.bz2</option>
                    </select>
                    <button>Comprimir</button>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
            </div>
            </div>
        </div>
    </div>
{% endmacro %}